@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #33383C;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(90deg, #33383C 50%, #fff 50%);
    height: 100vh;
    color: #ffffff;
}



/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: green; /* Warna garis bawah */
    transition: width 0.3s ease; /* Efek transisi */
}

.navbar-nav .nav-link.active::after {
    width: 100%; /* Panjang garis bawah saat tautan aktif */
}
.SN {
    margin-right: 5px;
    color: black;
  }
/* Section 1 */

.main {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}
.main h1 {
    color: #33383C;
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}
.main p {
    color: goldenrod;
    font-size: 1.5rem;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1.5s;
}

.images {
    margin-left: auto;
    width: 300px;
}   
.images img {
    border-radius: 50%;
    box-shadow: 0 0 15px #D1D9E6;
}

/* Section 1 End */

/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }
    .main h3 {
        color: #000;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width:600px) {
    body {
        font-family: 'Outfit', sans-serif;
        background: linear-gradient(180deg, #33383C 50%, #fff 50%);
        height: auto;
        color: #ffffff;
    }
    header {
        height: auto;
        background-color: var(--primary-color);
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }
    .images {
        width: 100%;
        margin-bottom: 350px;
    }

    .main {
        margin-top: 2rem;
    }
}