body {
	font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
}
.even {
    background: #ddd;
  }
header {
	background-color: #333;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

header h1 {
	margin: 0;
}

header h1 span {
	color: #ffcc00;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li {
	margin-right: 20px;
}

header nav a {
	color: white;
	text-decoration: none;
}

header form {
	display: flex;
}

header form input[type="text"] {
	border: none;
	background-color: #444;
	color: white;
	padding: 10px;
	margin-right: 10px;
}

header form button[type="submit"] {
	background-color: #ffcc00;
	color: #333;
	padding: 10px;
	border: none;
	cursor: pointer;
}

main{
    margin:10px;
}